DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=
GITHUB_API_BASE_URL=api.github.com
REPO_OWNER=chromium
REPO_NAME=chromium
GITHUB_API_COMMIT_URL=https://${GITHUB_API_BASE_URL}/repos/${REPO_OWNER}/${REPO_NAME}/commits
GITHUB_API_REPOSITORY_URL=https://${GITHUB_API_BASE_URL}/repos/${REPO_OWNER}/${REPO_NAME}
SERVER_PORT=8082
FETCH_DATE_SINCE=04-27-2024
AUTH_TOKEN=<YOUR_GITHUB_TOKEN>
ISO_TIME_FORMAT=01-02-2006